/* Navbar */
.navbar {
  background-color: #343a40;
  
}
.container{
  display: flex;
  flex-direction: row;
  background-color: #71797f;
}

.navbar-brand {
  color: #fff;
  font-weight: bold;
}

.navbar-nav .nav-link {
  color: #fff;
}

/* Product List */
.product-list-container {
  margin-top: 0px;
  
}

.product-list-container h2 {
  margin-bottom: 10px;
}

.error {
  color: red;
}

.table {
  width: 100%;
  border-collapse: collapse;
}

.table th,
.table td {
  padding: 8px;
  text-align: left;
}

.table th {
  background-color: #f8f9fa;
  font-weight: bold;
}

.table td {
  border-bottom: 1px solid #dee2e6;
}

/* Card Container */
.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* gap: 20px; */

}

.custom-card {
  background-color: #c7c9cc;
  border: #71797f solid;
  width: 15rem;
}

.custom-card .card-body {
  padding: 20px;
}

.custom-card .card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

.custom-card .card-subtitle {
  color: #6c757d;
}

.custom-card .card-text {
  margin-bottom: 10px;
}

.custom-card .card-link {
  margin-right: 20px;
  color: #cbcdd1;
  cursor: pointer;
  width: 50 rem;
  border: #7a7c7d solid;
  background-color: #2525d5;
  border-radius:4px;
  text-decoration: none;
}
